/*home*/
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



/*card images on user screen*/
.title_real{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.point_button{
background-color: #8d5f0a !important;
color: #000 !important;
border: none !important;
}

.image_title{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}

.image_description{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 200;
  font-size: 16px;
  margin: 0;

}

.image_title_wrapper{
  width: 150px;
  height: auto;
}

.item_card{
  background-color: #e8bd70;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}

.no_deals{
  text-align: center;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 100 !important;
}

.item_image_wrapper{
  object-fit: contain;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_image{
  height: auto;
  width: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.deal_cover{
  margin-top: 20px !important;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.deal_text{
  margin: auto;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 300;
  font-size: 24px;
}

.deal_line{
  background-color: #e8bd70;
  width: 100%;
  height: 5px;
}




@keyframes shine { 
  0% {
      transform:translateX(-100%) translateY(-100%) rotate(30deg);
  }
  80% {transform:translateX(-100%) translateY(-100%) rotate(30deg);}
	100% {transform:translateX(100%) translateY(100%) rotate(30deg);}
}

.wrapper {
  display:flex;
  align-items:center;
  height:100vh;
  justify-content:center;
}

.box_gradient {
  display: flex;
  height: auto;
  margin: auto;
  margin-top: 30px;
  position: relative;
  width: 300px;
  z-index: 0;
  overflow: hidden;
  border: #b8a85bb3 solid 12px;
}


.box_gradient::after {
    content:'';
    top:0;
    transform:translateX(100%) rotate(30deg);
    width:300%;
    height:300%;
    position: absolute;
    z-index:1;
    animation: shine 3s infinite ease-in;
    background:
      linear-gradient( to right, 
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,0.8) 50%,
        rgba(128,186,232,0) 99%,
        rgba(128,186,232,0) 100%);
  }
 
.box_gradient.gold {
    background:linear-gradient( to bottom, #c39738, #deb761, #c39738);
   
  }

  .box_gradient.gold::after {
    animation-delay:1s;
  }
 





/*appbar color change new theme*/
.appbar_bg{
  background-color: #edd185 !important;
}
.appbar_text{
  color: #000;
}
.searchbar{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.table{
    min-width: 650;
  }

.input{
 width: 50;
 margin-right: 10;
 }


.headertext{
    font-family: 'Playball', cursive;
    font-size: 1.5rem;
    text-align: center;
    color: #1d3a4d;
    margin-top: 1%

  }

.subtext{
  font-family: 'Playball', cursive;
    font-size: 2.0rem;
    text-align: center;
    color: #1d3a4d;
    text-align: center;
}

/*bottom*/

.nav{
  display: none;
}

.bottom{
  display: none;
}
/*install button*/

.flexo{
  display: flex;
  justify-content: center;
}


.userCard {
  display: flex;
  background: linear-gradient(to bottom right, #e8bd70, #edd185); /* Gradient using golden colors */
  flex-direction: column;
  padding: 2.5%;
  width: auto;
  margin: 2rem;
  border-radius: 10px;
}





.uCardPoints{
  color: #fff;
  display: flex;
  justify-content: right;
}
.cardDetail{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
  align-items: center;

}

.card_div{
  padding:15px;
  display: flex;
  flex-direction: column;
  
}

.avlpoint_class{
  margin: auto;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif !important;
}

.point_class{
  margin:auto;
  margin-left: 0px;
  margin-top: 0px;
  font-size: 46px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif !important;
}
.greetText{
  margin: auto;
  padding: 2%;
  color: #000000;
  font-weight:300 !important;
  font-size: 12px !important;
  width: 100%;
  font-family: 'Poppins', sans-serif !important;
}

.display_onlymob{
  display: block;
}


/*nav links desktop*/
.linkButtons{
  text-decoration: none;
}
.linkButtons button{
  color: #757de8;
}

.linkButtons button:hover{
  color: #1d3a4d
}

.linkButtons button:active{
  color: #0070f3;
}

@media only screen and (max-width: 768px) and (orientation:landscape){
  .display_onlymob{
    display:none;
  }
}


/*mobile query*/
@media only screen and (max-width: 768px) {
  .installbutton{
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
    border-radius: 15px;
  }
  .headertext{
    margin-top: 5%;
  }
  .bottom{
    display: block;
  }
  .nav {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #edd185;
    border-top: 1px solid #ccc;
  }
  
  .nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 3rem;
  }
  
  .nav ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #8d5f0a;
  }
  
  .nav ul li a:hover,
  .nav ul li a:focus {
    color: #000;
  }
  
  .nav ul li a.active {
    color: #000;
  }
}
