/*home*/
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Poppins:wght@500&display=swap');

.headertext{
    font-family: 'Playball', cursive;
    font-size: 1.5rem;
    text-align: center;
    color: #1d3a4d;
    margin-top: 1%

  }

.subtext{
  font-family: 'Playball', cursive;
    font-size: 2.0rem;
    text-align: center;
    color: #1d3a4d;
    text-align: center;
}

/*bottom*/

.nav{
  display: none;
}

/*install button*/

.flexo{
  display: flex;
  justify-content: center;
}

.installbutton{
  background-color: #6a2153;
  border: none;
  font-size: larger;
  font-family:'Playball', cursive;
  color: #fff;
  padding: 1%;
  border-radius: 50px;
  width: 15rem;
  -webkit-box-shadow: 0px 13px 16px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 13px 16px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 13px 16px -7px rgba(0,0,0,0.75);
}

/*mobile query*/
@media only screen and (max-width: 767px) {
  .installbutton{
    padding: 3%;
  }
  .headertext{
    margin-top: 25%;
  }
  .nav {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #6a2153;
    border-top: 1px solid #ccc;
  }
  
  .nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 3rem;
  }
  
  .nav ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
  }
  
  .nav ul li a:hover,
  .nav ul li a:focus {
    color: #272424;
  }
  
  .nav ul li a.active {
    color: #0070f3;
  }
}
