/*home*/
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Poppins:wght@500&display=swap');

.headertext{
    font-family: 'Playball', cursive;
    font-size: 1.5rem;
    text-align: center;
    color: #1d3a4d;
    margin-top: 1%

  }

.subtext{
  font-family: 'Playball', cursive;
    font-size: 2.0rem;
    text-align: center;
    color: #1d3a4d;
    text-align: center;
}

/*bottom*/

.nav{
  display: none;
}

.bottom{
  display: none;
}
/*install button*/

.flexo{
  display: flex;
  justify-content: center;
}

.userCard{
  display: none;
}


/*mobile query*/
@media only screen and (max-width: 767px) {


  .userCard{
    display: flex;
    background-image: url("../../public/Images/card_bg.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top;

    height: 150px;
    width: auto;
    margin: 1.5rem;
    border-radius: 15px;
  }

  .cardDetail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 2%;

  }

  .greetText{
    padding: 2%;
    color: #fff;
    font-weight: lighter;
  }

  .installbutton{
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
    border-radius: 15px;
  }
  .headertext{
    margin-top: 5%;
  }
  .bottom{
    display: block;
  }
  .nav {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #757de8;
    border-top: 1px solid #ccc;
  }
  
  .nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 3rem;
  }
  
  .nav ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
  }
  
  .nav ul li a:hover,
  .nav ul li a:focus {
    color: #1d3a4d;
  }
  
  .nav ul li a.active {
    color: #0070f3;
  }
}
